<div class="footer">
	<div class = "menu footer-menu">
		<div class = 'footer-menu__item'>Пункт 1</div>
		<div class = 'footer-menu__item'>Пункт 2</div>
		<div class = 'footer-menu__item'>Пункт 3</div>
		<div class = 'footer-menu__item'>Пункт 4</div>
	</div>
</div>