<div class = "header">
	<div class = "menu header-menu">
		<div class = 'header-menu__item'>Пункт 1</div>
		<div class = 'header-menu__item'>Пункт 2</div>
		<div class = 'header-menu__item'>Пункт 3</div>
		<div class = 'header-menu__item'>Пункт 4</div>
	</div>
</div>
